@font-face {
  font-family: "Raleway";
  src: url('../resources/fonts/Raleway-Medium.woff2');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url('../resources/fonts/Raleway-SemiBold.woff2');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url('../resources/fonts/Raleway-Bold.woff2');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: "Inter";
  src: url('../resources/fonts/Inter-Medium.woff2');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}