<section class="contacts">
  <div class="container contacts__container">
    <div class="ymap" id="YMap"></div>
    <div class="contacts__field">
      <h1 class="contacts__title">Контакты</h1>
      <ul class="list-reset contacts__callback">
        <li class="contacts__callback-item phone">+7 (931) 251-24-86</li>
        <li class="contacts__callback-item email">unperspektiva@yandex.ru</li>
        <li class="contacts__callback-item address">г. Москва, пр. Мира, д.&nbsp;24</li>
      </ul>
      <ul class="list-reset messengers">
        <li class="messengers__item"><a href="" class="messengers__link">VK</a></li>
        <li class="messengers__item"><a href="" class="messengers__link">Telegram</a></li>
        <li class="messengers__item"><a href="" class="messengers__link">Whatsapp</a></li>
      </ul>
    </div>
  </div>
</section>