<svg viewBox="0 0 4507 4277" class="back-faq">
  <use xlink:href="./img/sprite.svg#back-faq">
  </use>
</svg>
<section class="faq">
  <div class="container">
    <h1 class="faq__title">Вопрос-ответ</h1>
    <div class="accordion">
      <div class="accordion__item">
        <h2 class="accordion__title">
          <span>Что включают в&nbsp;себя услуги по&nbsp;содержанию дома?</span>
          <svg class="plus" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="15" r="15"/>
            <rect x="9" y="14" width="12" height="2"/>
            <rect x="14" y="21" width="12" height="2" transform="rotate(-90 14 21)"/>
          </svg>
        </h2>
        <div class="accordion__content">
          <p class="accordion__text">
            Услуги по&nbsp;содержанию дома включают в&nbsp;себя организацию выполнения утвержденного плана (перечня) работ и&nbsp;услуг по&nbsp;содержанию и&nbsp;ремонту общего имущества в&nbsp;многоквартирном доме, обеспечению безопасного и&nbsp;комфортного проживания в&nbsp;многоквартирном доме.
          </p>
        </div>
      </div>
      <div class="accordion__item">
        <h2 class="accordion__title">
          <span>Тарифы ЖКУ</span>
          <svg class="plus" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="15" r="15"/>
            <rect x="9" y="14" width="12" height="2"/>
            <rect x="14" y="21" width="12" height="2" transform="rotate(-90 14 21)"/>
          </svg>
        </h2>
        <div class="accordion__content">
          <p class="accordion__text">
            Услуги по&nbsp;содержанию дома включают в&nbsp;себя организацию выполнения утвержденного плана (перечня) работ и&nbsp;услуг по&nbsp;содержанию и&nbsp;ремонту общего имущества в&nbsp;многоквартирном доме, обеспечению безопасного и&nbsp;комфортного проживания в&nbsp;многоквартирном доме.
          </p>
        </div>
      </div>
      <div class="accordion__item">
        <h2 class="accordion__title">
          <span>Полезные телефоны</span>
          <svg class="plus" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="15" r="15"/>
            <rect x="9" y="14" width="12" height="2"/>
            <rect x="14" y="21" width="12" height="2" transform="rotate(-90 14 21)"/>
          </svg>
        </h2>
        <div class="accordion__content">
          <p class="accordion__text">
            Услуги по&nbsp;содержанию дома включают в&nbsp;себя организацию выполнения утвержденного плана (перечня) работ и&nbsp;услуг по&nbsp;содержанию и&nbsp;ремонту общего имущества в&nbsp;многоквартирном доме, обеспечению безопасного и&nbsp;комфортного проживания в&nbsp;многоквартирном доме.
          </p>
        </div>
      </div>
      <div class="accordion__item">
        <h2 class="accordion__title">
          <span>Что включают в&nbsp;себя услуги по&nbsp;содержанию дома?</span>
          <svg class="plus" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="15" r="15"/>
            <rect x="9" y="14" width="12" height="2"/>
            <rect x="14" y="21" width="12" height="2" transform="rotate(-90 14 21)"/>
          </svg>
        </h2>
        <div class="accordion__content">
          <p class="accordion__text">
            Услуги по&nbsp;содержанию дома включают в&nbsp;себя организацию выполнения утвержденного плана (перечня) работ и&nbsp;услуг по&nbsp;содержанию и&nbsp;ремонту общего имущества в&nbsp;многоквартирном доме, обеспечению безопасного и&nbsp;комфортного проживания в&nbsp;многоквартирном доме.
          </p>
        </div>
      </div>
      <div class="accordion__item">
        <h2 class="accordion__title">
          <span>Тарифы ЖКУ</span>
          <svg class="plus" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="15" r="15"/>
            <rect x="9" y="14" width="12" height="2"/>
            <rect x="14" y="21" width="12" height="2" transform="rotate(-90 14 21)"/>
          </svg>
        </h2>
        <div class="accordion__content">
          <p class="accordion__text">
            Услуги по&nbsp;содержанию дома включают в&nbsp;себя организацию выполнения утвержденного плана (перечня) работ и&nbsp;услуг по&nbsp;содержанию и&nbsp;ремонту общего имущества в&nbsp;многоквартирном доме, обеспечению безопасного и&nbsp;комфортного проживания в&nbsp;многоквартирном доме.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>