<footer class="footer">
  <div class="footer__main">
    <div class="container">
      <div class="footer__top">
        <a href="/" class="logo-footer">
          <svg viewBox="0 0 185 40" class="logo logo--footer">
            <use xlink:href="./img/sprite.svg#logo">
            </use>
          </svg>
        </a>
        <div class="footer__info">
          <ul class="list-reset footer__info-item footer-nav">
            <li class="footer-nav__item"><a href="" class="footer-nav__link">О компании</a></li>
            <li class="footer-nav__item"><a href="" class="footer-nav__link">Новости</a></li>
            <li class="footer-nav__item"><a href="" class="footer-nav__link">Документация</a></li>
            <li class="footer-nav__item"><a href="" class="footer-nav__link">Дома</a></li>
          </ul>
          <ul class="list-reset footer__info-item footer-other">
            <li class="footer-other__item"><a href="" class="footer-other__link">Услуги и тарифы</a></li>
            <li class="footer-other__item"><a href="" class="footer-other__link">Лицензии и сертификаты</a></li>
            <li class="footer-other__item"><a href="" class="footer-other__link">Реквизиты и контакты</a></li>
            <li class="footer-other__item"><a href="" class="footer-other__link privacy-link">Политика конфиденциальности</a></li>
          </ul>
          <div class="footer__info-item footer-callback">
            <ul class="list-reset footer-callback__list">
              <li class="footer-callback__item">
                <span class="footer-callback__label">Телефон</span>
                <span class="footer-callback__value">+7 (931) 251-24-86</span>
              </li>
              <li class="footer-callback__item">
                <span class="footer-callback__label">Электронная почта</span>
                <span class="footer-callback__value">unperspektiva@yandex.ru</span>
              </li>
              <li class="footer-callback__item">
                <span class="footer-callback__label">Адрес</span>
                <span class="footer-callback__value">г. Москва, пр. Мира, д.&nbsp;24</span>
              </li>
            </ul>
            <ul class="list-reset footer-messengers">
              <li class="footer-messengers__item">
                <a href="" class="footer-messengers__link">
                  <svg viewBox="0 0 20 12" class="messengers-icon messengers-icon--vk">
                    <use xlink:href="./img/sprite.svg#vk">
                    </use>
                  </svg>
                </a>
              </li>
              <li class="footer-messengers__item">
                <a href="" class="footer-messengers__link">
                  <svg viewBox="0 0 19 16" class="messengers-icon messengers-icon--tg">
                    <use xlink:href="./img/sprite.svg#tg">
                    </use>
                  </svg>
                </a>
              </li>
              <li class="footer-messengers__item">
                <a href="" class="footer-messengers__link">
                  <svg viewBox="0 0 21 21" class="messengers-icon messengers-icon--wts">
                    <use xlink:href="./img/sprite.svg#wts">
                    </use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <button class="btn-reset header-btn login footer-login">
          <svg viewbox="0 0 18 18" class="ava">
            <use xlink:href="./img/sprite.svg#ava">
            </use>
          </svg>
          <span>Личный кабинет</span>
        </button>
      </div>
    </div>
  </div>
  <div class="footer__end">
    <div class="container">
      <div class="footer__privacy">
        <a href="/" class="privacy">ООО «Мой дом» © Все права защищены</a>
        <a href="/" class="creator">Создание сайта — Red Promo</a>
      </div>
    </div>
  </div>
</footer>