<header class="header">
  <div class="container">
    <div class="header__top">
      <a href="/" class="logo-header">
        <svg viewBox="0 0 185 40" class="logo logo--header">
          <use xlink:href="./img/sprite.svg#logo">
          </use>
        </svg>
      </a>
      <div class="header__payment">
        <a href="" class="payment-link">Оплатить квитанцию</a>
        <a href="" class="payment-link">Оставить заявку</a>
      </div>
      <div class="header-buttons">
        <button class="btn-reset header-btn header-select">Диспетчерская</button>
        <button class="btn-reset header-btn btn-callback">Связаться с нами</button>
        <button class="btn-reset header-btn login">
          <svg viewbox="0 0 18 18" class="ava">
            <use xlink:href="./img/sprite.svg#ava">
            </use>
          </svg>
          <span>Личный кабинет</span>
        </button>
        <button id="burger" class="btn-reset burger">
          <span class="burger__line"></span>
          <span class="burger__line"></span>
          <span class="burger__line"></span>
        </button>
      </div>
    </div>
    <div class="header__bottom">
      <nav class="nav">
        <button id="close" class="btn-reset nav-close">
          <span class="nav-close__line"></span>
          <span class="nav-close__line"></span>
        </button>
        <ul class="list-reset nav__list">
          <li class="nav__item">
            <a href="" class="nav__link">О компании</a>
          </li>
          <li class="nav__item">
            <a href="" class="nav__link">Новости</a>
          </li>
          <li class="nav__item">
            <a href="" class="nav__link">Документация</a>
          </li>
          <li class="nav__item">
            <a href="" class="nav__link">Дома</a>
          </li>
          <li class="nav__item">
            <a href="" class="nav__link">Услуги и тарифы</a>
          </li>
          <li class="nav__item">
            <a href="" class="nav__link">Лицензии и сертификаты</a>
          </li>
          <li class="nav__item">
            <a href="" class="nav__link">Реквизиты и контакты</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header-back"></div>
  </div>

</header>