<section class="hero">
  <div class="container">
    <div class="swiper myhome">
      <div class="swiper-wrapper myhome__wrapper">
        <div class="swiper-slide myhome__slide">
          <picture class="myhome__pic">
            <source srcset="./img/hero-375.jpg" media="(max-width: 375px)">
            <source srcset="./img/hero-768.jpg" media="(max-width: 768px)">
            <source srcset="./img/hero.jpg" media="(max-width: 1440px)">
            <img class="myhome-img" srcset="./img/hero.jpg" alt="Молодая пара">
          </picture>
          <h1 class="myhome__title">Управляющая компания «Мой дом»</h1>
          <p class="myhome__descr">Мы&nbsp;круглосуточно помогаем нашим жильцам качественно управлять своей
            недвижимостью.</p>
        </div>
        <div class="swiper-slide myhome__slide">
          <picture class="myhome__pic">
            <source srcset="./img/hero-375.jpg" media="(max-width: 375px)">
            <source srcset="./img/hero-768.jpg" media="(max-width: 768px)">
            <source srcset="./img/hero.jpg" media="(max-width: 1440px)">
            <img class="myhome-img" srcset="./img/hero.jpg" alt="Молодая пара">
          </picture>
          <h1 class="myhome__title">Управляющая компания «Мой дом»</h1>
          <p class="myhome__descr">Мы&nbsp;круглосуточно помогаем нашим жильцам качественно управлять своей
            недвижимостью.</p>
        </div>
        <div class="swiper-slide myhome__slide">
          <picture class="myhome__pic">
            <source srcset="./img/hero-375.jpg" media="(max-width: 375px)">
            <source srcset="./img/hero-768.jpg" media="(max-width: 768px)">
            <source srcset="./img/hero.jpg" media="(max-width: 1440px)">
            <img class="myhome-img" srcset="./img/hero.jpg" alt="Молодая пара">
          </picture>
          <h1 class="myhome__title">Управляющая компания «Мой дом»</h1>
          <p class="myhome__descr">Мы&nbsp;круглосуточно помогаем нашим жильцам качественно управлять своей
            недвижимостью.</p>
        </div>
        <div class="swiper-slide myhome__slide">
          <picture class="myhome__pic">
            <source srcset="./img/hero-375.jpg" media="(max-width: 375px)">
            <source srcset="./img/hero-768.jpg" media="(max-width: 768px)">
            <source srcset="./img/hero.jpg" media="(max-width: 1440px)">
            <img class="myhome-img" srcset="./img/hero.jpg" alt="Молодая пара">
          </picture>
          <h1 class="myhome__title">Управляющая компания «Мой дом»</h1>
          <p class="myhome__descr">Мы&nbsp;круглосуточно помогаем нашим жильцам качественно управлять своей
            недвижимостью.</p>
        </div>
        <div class="swiper-slide myhome__slide">
          <picture class="myhome__pic">
            <source srcset="./img/hero-375.jpg" media="(max-width: 375px)">
            <source srcset="./img/hero-768.jpg" media="(max-width: 768px)">
            <source srcset="./img/hero.jpg" media="(max-width: 1440px)">
            <img class="myhome-img" srcset="./img/hero.jpg" alt="Молодая пара">
          </picture>
          <h1 class="myhome__title">Управляющая компания «Мой дом»</h1>
          <p class="myhome__descr">Мы&nbsp;круглосуточно помогаем нашим жильцам качественно управлять своей
            недвижимостью.</p>
        </div>
      </div>
      <div class="myhome__navigation">
        <div class="swiper-pagination myhome__pagination"></div>
        <div class="arrows-navigation">
          <div class="swiper-button-prev arrow-nav arrow-nav--prev myhome__prev"></div>
          <div class="swiper-button-next arrow-nav arrow-nav--next myhome__next"></div>
        </div>
      </div>
    </div>
    <div class="swiper complex-cards">
      <div class="swiper-wrapper complex-cards-wrapper">
        <div class="swiper-slide complex-card complex-card--1">
          <h2 class="complex-card__title">ЖК «Сосновый лес»</h2>
          <span class="complex-card__descr">Санкт-Петербург, ул.&nbsp;Лесная, д.&nbsp;7</span>
        </div>
        <div class="swiper-slide complex-card complex-card--2">
          <h2 class="complex-card__title">ЖК «Московский парк»</h2>
          <span class="complex-card__descr">Москва, пр.&nbsp;Вернадского, д.&nbsp;55</span>
        </div>
        <div class="swiper-slide complex-card complex-card--3">
          <h2 class="complex-card__title">ЖК «Свежий ветер»</h2>
          <span class="complex-card__descr">Москва, пр.&nbsp;Вернадского, д.&nbsp;55</span>
        </div>
        <div class="swiper-slide complex-card complex-card--4">
          <h2 class="complex-card__title">ЖК «Англиский дом»</h2>
          <span class="complex-card__descr">Москва, пр.&nbsp;Мира, д.&nbsp;24</span>
        </div>
      </div>
    </div>
  </div>
</section>