<section class="news">
  <div class="container news-container">
    <h1 class="news__title">Новости</h1>
    <button class="btn-reset btn-news">2022</button>
    <div class="swiper news">
      <div class="swiper-wrapper news__wrapper">
        <article class="swiper-slide news-card">
          <img class="img-news" src="./img/news-1.jpg" alt="">
          <div class="news-card__text">
            <div class="news-card__top">
              <span class="news-card__date">20.10.2022</span>
              <h2 class="news-card__title">Подключение жилых комплексов к&nbsp;мобильному приложению Rubetek</h2>
            </div>
            <div class="news-card__more">
              <a href="" class="link-more news-card__link">Читать полностью</a>
              <svg viewBox="0 0 15 13" class="arrow-right">
                <use xlink:href="./img/sprite.svg#arrow">
                </use>
              </svg>
            </div>
          </div>
        </article>
        <article class="swiper-slide news-card">
          <img class="img-news" src="./img/news-2.jpg" alt="">
          <div class="news-card__text">
            <div class="news-card__top">
              <span class="news-card__date">15.10.2022</span>
              <h2 class="news-card__title">СКУД</h2>
            </div>
            <div class="news-card__more">
              <a href="" class="link-more news-card__link">Читать полностью</a>
              <svg viewBox="0 0 15 13" class="arrow-right">
                <use xlink:href="./img/sprite.svg#arrow">
                </use>
              </svg>
            </div>
          </div>
        </article>
        <article class="swiper-slide news-card">
          <img class="img-news" src="./img/news-3.jpg" alt="">
          <div class="news-card__text">
            <div class="news-card__top">
              <span class="news-card__date">01.10.2022</span>
              <h2 class="news-card__title">Получение ключей</h2>
            </div>
            <div class="news-card__more">
              <a href="" class="link-more news-card__link">Читать полностью</a>
              <svg viewBox="0 0 15 13" class="arrow-right">
                <use xlink:href="./img/sprite.svg#arrow">
                </use>
              </svg>
            </div>
          </div>
        </article>
        <article class="swiper-slide news-card">
          <img class="img-news" src="./img/news-1.jpg" alt="">
          <div class="news-card__text">
            <div class="news-card__top">
              <span class="news-card__date">20.10.2022</span>
              <h2 class="news-card__title">Подключение жилых комплексов к&nbsp;мобильному приложению Rubetek</h2>
            </div>
            <div class="news-card__more">
              <a href="" class="link-more news-card__link">Читать полностью</a>
              <svg viewBox="0 0 15 13" class="arrow-right">
                <use xlink:href="./img/sprite.svg#arrow">
                </use>
              </svg>
            </div>
          </div>
        </article>
        <article class="swiper-slide news-card">
          <img class="img-news" src="./img/news-2.jpg" alt="">
          <div class="news-card__text">
            <div class="news-card__top">
              <span class="news-card__date">15.10.2022</span>
              <h2 class="news-card__title">СКУД</h2>
            </div>
            <div class="news-card__more">
              <a href="" class="link-more news-card__link">Читать полностью</a>
              <svg viewBox="0 0 15 13" class="arrow-right">
                <use xlink:href="./img/sprite.svg#arrow">
                </use>
              </svg>
            </div>
          </div>
        </article>
        <article class="swiper-slide news-card">
          <img class="img-news" src="./img/news-3.jpg" alt="">
          <div class="news-card__text">
            <div class="news-card__top">
              <span class="news-card__date">01.10.2022</span>
              <h2 class="news-card__title">Получение ключей</h2>
            </div>
            <div class="news-card__more">
              <a href="" class="link-more news-card__link">Читать полностью</a>
              <svg viewBox="0 0 15 13" class="arrow-right">
                <use xlink:href="./img/sprite.svg#arrow">
                </use>
              </svg>
            </div>
          </div>
        </article>
      </div>
    </div>
    <div class="news__navigation">
<!--      <div class="swiper-pagination news__pagination"></div>-->
      <div class="arrows-navigation">
        <div class="swiper-button-prev arrow-nav arrow-nav--prev arrow-news news__prev"></div>
        <div class="swiper-button-next arrow-nav arrow-nav--next arrow-news news__next"></div>
      </div>
    </div>
  </div>
</section>