<section class="services">
  <div class="container">
    <h1 class="services__title">Наши услуги</h1>
    <div class="services-cards">
      <div class="services-card services-card--1">
        <span class="services-card__descr">Услуги по&nbsp;содержанию и&nbsp;ремонту</span>
        <div class="services-card__price">
          <a href="" class="link-more services-card__link">Посмотреть прайс-лист</a>
          <svg viewBox="0 0 15 13" class="arrow-right">
            <use xlink:href="./img/sprite.svg#arrow">
            </use>
          </svg>
        </div>
      </div>
      <div class="services-card services-card--2">
        <span class="services-card__descr">Коммунальные услуги</span>
        <div class="services-card__price">
          <a href="" class="link-more services-card__link">Посмотреть прайс-лист</a>
          <svg viewBox="0 0 15 13" class="arrow-right">
            <use xlink:href="./img/sprite.svg#arrow">
            </use>
          </svg>
        </div>
      </div>
      <div class="services-card services-card--3">
        <span class="services-card__descr">Капитальный ремонт</span>
        <div class="services-card__price">
          <a href="" class="link-more services-card__link">Посмотреть прайс-лист</a>
          <svg viewBox="0 0 15 13" class="arrow-right">
            <use xlink:href="./img/sprite.svg#arrow">
            </use>
          </svg>
        </div>
      </div>
      <div class="services-card services-card--4">
        <span class="services-card__descr">Дополнительные услуги</span>
        <div class="services-card__price">
          <a href="" class="link-more services-card__link">Посмотреть прайс-лист</a>
          <svg viewBox="0 0 15 13" class="arrow-right">
            <use xlink:href="./img/sprite.svg#arrow">
            </use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>