//цвета
$main: #333333;
$blue: #5BC3E3;
$white: #FFFFFF;
$btn-back: rgba(91, 195, 227, 0.1);
$btn-active:#2EA0C3;
$back-cards: #F7F7F7;
$link-hover: #55B2CE;
$deep-blue: #2EA0C3;
$back-plus: #EFF9FD;

//отступы
$section: 100px;
$section-md: 80px;
$section-sm: 60px;

//радиус
$radius-cards: 15px;
$radius-cards-sm: 10px;
$btn-radius: 25px;